.header-fixed
{
	width: 100%;
	position: fixed;
	z-index: 9999999;
}

.nav-bg-color{
	background-color: rgba(10, 10, 10, 0.8);
	background: -moz-linear-gradient(30deg, rgba(255,255,255,0.9) 18%, rgba(255,255,255,0.5) 21%, rgba(255,255,255,0) 24%, rgba(255,255,255,0) 28%); /* FF3.6-15 */
	background: -webkit-linear-gradient(30deg, rgba(255,255,255,0.9) 18%,rgba(255,255,255,0.5) 21%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 28%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(30deg, rgba(255,255,255,0.9) 18%,rgba(255,255,255,0.5) 21%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 28%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



/************** Cambio de color menu y tamaño*******************/
.menuColorCambio{
	background-color: rgba(0,0,0,.9);
	box-shadow: 0px 5px 10px rgba(25,25,25,.6);
}

.desactivado-color-dark{
	color: #2d2d2d !important;
}

.navbar{
	transition: ease 0.8s;
	height: 96px;
}

.menuHeight{
	transition: ease 0.8s;
	height: 70px;
}


#imgLogo{
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	transition: ease 0.4s;
}

.reducirLogo{
	-webkit-transform: scale(0.7) !important;
	-moz-transform: scale(0.7) !important;
	 transform: scale(0.7) !important;
	 transition: ease 0.4s;
}





/******************************************************/

.contacto-menu{
	height: 40px;
	width: 100%;
	background-color: #102a45;
	background-color: rgba(0, 36, 62, 1);
	background: rgba(0, 36, 62, 1);
	color: rgba(0, 36, 62, 1);
}

.contacto-menu-items{
	height: 100%;
	width: 600px;
	float: right;
}

.contacto-menu-items > ul{
	height: 100%;
	width: 100%;
	display: inline-block;
	margin:0;
	padding: 0;
	list-style-type: none;
}

.contacto-menu-items > ul > li{
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

.contacto-menu-items > ul > li:first-child{
	width: 180px;
	margin-left: 0px;
	margin-right: 50px;
}

.contacto-menu-items > ul > li > a, .contacto-menu-items > ul > li > p{
	height: 30px;
	width: 100%;
	display: inline-block;
	margin:0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	padding-top: 5px;
	color: #fff;
}

.contacto-menu-items > ul > li > p{
	text-decoration: none;
}

.fb-item, .tw-item, .inst-item, .yt-item, .ln-item, .gp-item{
	border-radius: 200%;
}

.fb-item:hover, .tw-item:hover, .inst-item:hover, .yt-item:hover, .ln-item:hover, .gp-item:hover{
	color: #11487a;
	background-color: #fff;
	cursor: pointer;
}

.fb-item:hover{
	color:#fff;
	background: #3b5998 !important;
}

.tw-item:hover{
	color: #009fcb;
}

.inst-item:hover{
	/*color: #613a43;*/
	color:#fff;
	background: #d6249f !important;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
}

.yt-item:hover{
	color: #d60041;
}

.ln-item:hover{
	color:#4b86b4;
}

.gp-item:hover{
   color: #cb2424;
   background-color:#fff;
}

.icon-phone{
	padding-right: 10px;
}

.icon-facebook ,.icon-twitter,.icon-instagram,.icon-youtube, .icon-linkedin, .icon-google-plus{
	box-sizing: border-box;
	padding-left: 7px;
}


.header-chico{
	height: 80px;
	box-shadow: 0px 5px 10px rgba(25,25,25,.3);

}

.header-grande{
	height: 120px;
}

@media screen and (max-width: 674px){
   
	.contacto-menu{
		  display: none;
	}
 
	.menu-top{
		 display: block;
	 }
 
	 .menu-top-btn{
		 display: inline-block;
	 }
 }

 @media screen and (max-width:991px){
	.nav-bg-color{
		background-color: #2d2d2d;
		background-color: rgba(10, 10, 10, 0.8);
	}
 }

 
/**************************MENU***********************************/

.logo-menu{
	margin-left: 1%; 
	margin-right: 3%;
	transition: ease 0.8s;
}

nav{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

#wrapper
{
	padding:90px 15px;
}
.navbar-expand-lg .navbar-nav.side-nav
{
	flex-direction: column;
}

.card
{
	margin-bottom: 15px;
	box-shadow: 0 3px 5px rgba(0,0,0,.1);
}

.header-top
{
	box-shadow: 0 3px 5px rgba(0,0,0,.1)
}

.leftmenutrigger
{
	display: none
}




.activo{
	color:#009fcb !important;
}
  
  .desactivado{
	color:#fff !important;
  }
  
  .desactivado:hover{
	  cursor:pointer;
	  color:#009fcb !important;
  }


  #navbarText > ul > li
  {
	  position: relative;
  }

  #navbarText > ul > li > a{
	position: relative;
	display: inline-block;
	padding: 20px;
	font-size: 0.79em;
	text-decoration: none;
	text-transform: uppercase;
  }
  

  #navbarText > ul > li > .link-linea:after {
	  content: "";
	  position: absolute;
	  height: 3px;
	  width: calc(100% - 30px);
	  bottom: 10px;
	  transition: all 0.3s ease-out;
	  background: #009fcb;
	  left: 50%;
	  transform: translateX(-50%) scaleX(0);
	}
	
	#navbarText > ul > li > .link-linea:hover:after {
	  transform: translateX(-50%) scaleX(1);
	}

	.link-idioma > img{
		height: 20px;
		width: 20px;
		display: inline-block;
		margin: 0;
		padding: 0;
	}



@media screen and (min-width:992px) 
{
	.leftmenutrigger
	{	
		display: block;display: block;
		margin: 7px 20px 4px 0;
		cursor: pointer;
	}

	#wrapper
	{
		padding: 90px 15px 15px 15px; 
	}

	.navbar-nav.side-nav.open 
	{
		left:0;
	}

	.navbar-nav.side-nav{
		background: #585f66;
		box-shadow: 2px 1px 2px rgba(0,0,0,.1);
		position:fixed;
		top:56px;
		flex-direction: column!important;
		left:-220px;
		width:200px;
		overflow-y:auto;
		bottom:0;
		overflow-x:hidden;
		padding-bottom:40px;
	}
	

	.animate
	{
		-webkit-transition:all .3s ease-in-out;
		-moz-transition:all .3s ease-in-out;
		-o-transition:all .3s ease-in-out;
		-ms-transition:all .3s ease-in-out;
		transition:all .3s ease-in-out;
	}
}

